/* // .contact-bgImg-container {
//   // @include bgImg(100vh, $main-bgImg-path);
//   // nav {
//     // border:2px solid red;
//     height: 40vh;
//   }
// } */

.contact {
  /* border:2px solid red; */
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}

 .contact h2 {
    font-size: 3rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
  }

  .contact__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    gap: 2.5rem 2rem;
    /* justify-content: start;
    align-items: center; */
  }
  .text-secondary {
    color: #ff652f;
  }


    .middle{
    /* border: 2px solid red; */
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin-top: 15rem;
    
    /* @extend .link-style; */
}



