.about-bgImg-container {
  /* @include bgImg(50vh, $main-bgImg-path); */
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
}

.about__bio-image {
  text-align: center;
}
.about__bio-image h2 {
  font-size: 3rem;
  color: #ff652f;
  padding-top: 12rem;
}

.about__bio-image p {
  font-size: 1.2rem;
  margin: 2rem;
  line-height: 1.5rem;
}

.about__container {
  /* border: 2px solid red; */
  width: 70vw;
  margin: 10.3rem auto;
}

.about__job {
  margin: 1.5rem;
  background-color: #eeeeee27;
  border-bottom: 5px solid #ff652f;
  padding: 1rem;
}

.about__job h2, h3 {
  margin: 0.5rem 0;
}

.about__job h6 {
  margin: 0.3rem 0;
}


.vertical{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
   
}

 .social-icons{
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 1rem;
        /* @extend .link-style; */
    }
    .copyright{
        position: fixed;
        bottom: 1rem;
        right: 3rem;
        /* transform: rotate(90deg) translate(-3rem, -5rem); */
        writing-mode: vertical-lr;
    }